.trends-container{
    padding-top: 3rem;
}
.trend-tabs{
    justify-content: space-between;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
.item{
    cursor: pointer;
    color: var(--secondary);
    transition: all 200ms ease-in;
}
.item:hover{
    color: var(--red);
}
.item.active{
    color: white;
    scale: 1.1;
    font-weight: 600;
}