.dh-wrapper{
    z-index: 5;
    padding-bottom: 4rem;
    padding-top: 2rem;
    border: none; /* Remove borders */
    box-shadow: none; /* Remove any box shadow */
}
.dh-container{
    gap: 3rem;
    padding-bottom: 0;
    padding-top: 1rem;
    z-index: 5;
    max-height: max-content;
    overflow-y: hidden;
}

/* Code for the image */
.dh-left{
    min-width:20%;
    max-width: 20%;
    min-height: 70%;
    max-height: 70%;
    z-index: 5;
}
.dh-left img{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}
.dh-right{
    gap: 1.2rem;
    z-index: 5;
}

/* Code for the right texts */
.dh-header-Name span:nth-child(2){
    font-size: 2rem;
    color: var(--secondary);
}
.dh-header-smallName{
    gap: 1rem;
    font-size: 1rem;
}

/* Code for the rating */
.dh-rating span:nth-child(1){
    /* font-size: 1.2rem; */
}
.dh-rating span:nth-child(2){
    color: var(--yellow);
    font-size: 1.2rem;
}

/* For the buttons */
.dh-buttons{
    gap: 2rem;
}
.dh-buttons span{
    background-color: rgb(16, 86, 146);
    padding: 10px;
    border-radius: 100%;
    transition: all 200ms ease-in;
}
.dh-buttons span:hover{
    cursor: pointer;
}

/* For the overview */
.dh-overview span:nth-child(1){
    font-size: 1.3rem;
    color: var(--red);
    font-weight: 600;
}
.dh-overview span:nth-child(2){
    width: 60%;
    font-weight: 200;
}
.dh-roles{
    gap: 5rem;
}
.dh-role-item span:nth-child(1){
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--primary-color); /* Change the underline color */
    text-decoration-thickness: 2px; /* Thickness of the underline */
    text-underline-offset: 4px; /* Distance between the text and the underline */
}
.dh-role-item span:nth-child(2){
    font-weight: 300;
    transition: all 200ms ease-in;
}
.dh-role-item span:nth-child(2):hover{
    cursor: pointer;
    color: rgb(128, 128, 128);
}

/* For the trailer component */
.trailer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .trailer-content {
    position: relative;
    width: 80%;
    max-width: 900px;
  }
  
  .trailer-content iframe {
    width: 100%;
    height: 500px;
  }
  
  .close-btn {
    position: absolute;
    top: -20px;
    right: 0;
    background: white;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  