.d-body-container{
    align-items: start;
    justify-content: center;
    padding-top: 3%;
}
.d-body-right{
    width: 100%;
}


/* @media (min-width: 1536px) {
    .d-body-container{
        gap: 1rem;
        justify-content: center;
    }
    .d-body-filter{
        width: 18%;
    }
    .d-body-right{
        width: 75%;
    }
} */