.f-wrapper{
    background: black;
}
.f-container{
    justify-content: space-between;
}
.f-left{
    gap: 1rem;
}
.f-navigation{
    margin-top: 1rem;
    gap: 1.3rem;
}
.f-navigation a{
    font-size: .9rem;
    font-weight: 600;
    transition: ease-in all 200ms;
}
.f-navigation a:hover{
    color: var(--red);
    cursor: pointer;
}

