@media (max-width: 640px) {
    .details-container {
        flex-direction: column;
    }
    .movieAnalytics{
        width: 100%;
        margin-bottom: 2.5rem;
        margin-top: -4rem;
    }
    .horizontals{
        width: 100%;
        max-width: 100%;
    }
}